<section class="hero">
    <div class="wrapper">
        <p>We're a hackathon that aims to be a relaxed, creative event for first-time and experienced hackers alike.</p>

        <p class="hero__details">
            <time date="2019-11-09">9th & 10th November 2019</time>
            <span>Chichester 1, University of Sussex</span>
        </p>

        <span class="button button--white" href="https://hacksussex.typeform.com/to/k2MHmn">Applications open soon!</span>

        <p class="hero__extra">
            <a id="hero__extra__more-info" href="/hackathon">More information</a>
			<a href="https://www.youtube.com/watch?v=szez7KklvlM">2017 After-video</a>
			<a href="https://www.youtube.com/watch?v=qykPEEQCnzM">2018 After-video</a>
        </p>
    </div>
</section>
