@import "colours";
@import "fonts";

html, body {
	font-family: "Quicksand";
	font-weight:500;
	font-size:20px;
	color: #222;
	line-height:1.5;
    margin:0;
    padding:0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
    box-sizing: border-box;
}

h1 {
	margin:0;
	font-weight:700;
}

h2 {
	font-size:1.45em;
}

h2, h3, h4, h5, h6 {
	margin:0;
	font-weight:700;
}

a {
	color:$blue;
}

p {
	margin:0.5rem 0 0;
	font-size: 0.8em;
}

a.button, .button, input[type=submit] {
	text-decoration: none;
	color:#222;
	background:#fff;
	font-weight: 700;
	border:2px solid #eee;
	border-radius:5px;
	padding:0.25rem 1rem;
	transition: background 300ms;
	box-shadow: rgba(0,0,0,0.25) 0px 2px 5px 0;
	cursor: pointer;

	&:hover, &:focus {
		background: #eee;
	}
}

a.button, .button {
	&--yellow {
		background:$yellow;
		border-color:$dark-yellow;

		&:hover, &:focus {
			background: $dark-yellow;
		}
	}

	&--blue {
		color:#fff;
		background:$blue;
		border-color:$dark-blue;

		&:hover, &:focus {
			background: $dark-blue;
		}
	}
}

input[type=submit], a.button--green, .button--green {
	background:$green;
	border-color:$dark-green;
	color:#fff;

	&:hover, &:focus {
		background: $dark-green;
	}
}

// FORM

input[type=text], input[type=email], input[type=tel] {
	font-family: "Quicksand";
	font-size:1em;
	font-weight:700;
	padding:0.25rem;
	border:2px solid #ccc;
	border-radius: 5px;
}

input[type=submit] {
	font-family: "Quicksand";
	font-size:1em;
	font-weight:700;
}

// LAYOUT

.wrapper {
	padding-left:1.6666rem;
	padding-right:1.6666rem;

	@media screen and (min-width: 70em) {
		max-width:39.2rem;
		margin-left:auto;
		margin-right:auto;
		padding-left:0;
		padding-right:0;
	}
}

// GENERAL

.header {
	position: relative;
	width:100%;
	background:#fff;
	box-shadow:rgba(0,0,0,0.25) 0 1px 5px 0;

	.wrapper {
		display:flex;
        justify-content: space-between;
        align-content: flex-start;
        align-items:flex-start;
        flex-wrap:wrap;
        width:100%;
        padding:1.2222rem 1.6666rem;
        color:#fff;
        transition: min-height 500ms;
        overflow-y: scroll;
	}

	& + * {
		margin-top:0;
	}

	svg {
		width:3.72222rem;
		height:1.6666rem;
	}

	&.menu-open {
        position: fixed;
        top:0;
        height:100%;
        height:100vh;
		z-index:1;
		
		.wrapper {
			height:100%;
			height:100vh;
		}
    }

	&__menu-button {
        appearance: none;
        border:0;
        background:none;
        align-self:center;
        padding:0;
        padding:0.25rem 0 0.25rem 1rem;
        cursor:pointer;

        i {
            display:block;
            width:15px;
            height:2px;
            background:rgb(0, 0, 0);
            margin-top:3px;
            transform-origin:0 50%;
            transition: 300ms;

            &:first-child {
                margin-top:0;
            }
        }

    }

    .menu-open &__menu-button {
        i {
            margin-top:2px;

            &:first-child {
                transform: rotate(45deg);
            }

            &:nth-child(2) {
                opacity:0;
            }

            &:last-child {
                margin-top:5px;
                transform: rotate(-45deg);
            }
        }
    }
	
	&__nav {
        display:none;
        width:100%;
        padding:0;

        .menu-open & {
            display:block;
        }

        li {
            display:block;
            margin-top:1.25rem;
            text-align: right;
            font-weight:600;
            letter-spacing: -0.5px;

            a {
                padding-bottom:3px;
                border-bottom-width: 2px;

                &:hover, &:focus {
                    border-bottom-color: #fff;
                }
            }
        }
	}
	
	@media screen and (min-width: 70em) {
		.wrapper {
			align-items: center;
			max-width:39.2rem;
			margin:0 auto;
			padding: 2rem 0;
		}

		svg {
			width:6.2222rem;
			height:2.7777rem;
		}

		&__menu-button {
			display:none;
		}

		&__nav {
            display:flex;
            width:auto;
            margin:0;
            font-size:0.9em;
            padding-bottom: 0.25rem;

            li {
                margin:0 0 0 1rem;

                &:first-child {
                    margin-left:0;
                }

                a {
                    letter-spacing: -0.48px;
                }
            }
        }
	}
}

.footer {
	background:#222;
	color:#fff;
	font-size:0.8em;
	padding-top:1rem;
	padding-bottom:1rem;

	a {
		color:#fff;
	}

	.wrapper {
		display:flex;
		flex-direction: column;
	}

	&__details {
		a {
			display:block;
		}
	}

	&__social {
		margin-top:0.5rem;

		a {
			text-decoration: none;

			svg {
				fill:#fff;
			}
		}
	}

	@media screen and (min-width: 50em) {
		.wrapper {
			flex-direction:row;
			justify-content:space-between;
		}

		&__details {
			a {
				display:inline-block;
				margin-left:1rem;
			}
		}

		&__social {
			margin-top:0;
		}
	}
}

.cta {
	padding-top:1rem;
	padding-bottom:1rem;
	text-align:center;

	&--get-involved {
		margin-top:1rem;
		background:$yellow;

		&__buttons {
			display:flex;
			flex-direction: column;
			align-items: center;
			width:10rem;
			margin:1rem auto 0;

			a {
				width:100%;
				margin-top:0.5rem;

				&:first-child {
					margin-top:0;
				}
			}
		}
	}

	&--mailing-list {
		form {
			margin-top:0.5rem;
		}

		label, input {
			display:block;
			margin:0.5rem auto 0;
		}

		label {
			font-size:0.75em;
			color:#444;
		}

		input[type=email] {
			width:100%;
		}
	}

	@media screen and (min-width: 50em) {

		&--get-involved {
			padding-top:1.5rem;
			padding-bottom:1.5rem;

			&__buttons {
				flex-direction:row;
				justify-content: center;
				width:100%;
				margin:1rem 0 0;
			}

			a {
				width: 10rem;
				margin:0 0.5rem;
			}
		}

		&--mailing-list {
			padding-top:2rem;
			padding-bottom:2rem;

			input[type=email] {
				width:20rem;
			}
		}
	}
}

// BLOCKS

.hero {
	background-image: url("./bg-green.svg");
	background-color: $green;
	color:#fff;
	padding-top:1.6666rem;
	padding-bottom:1.6666rem;

	p {
		font-size:0.9em;
	}

	& &__details {
		margin-top:1.1rem;
		font-size:0.7777em;
		font-weight:500;
		line-height: 1.2;

		& > * {
			display:block;
		}
	}

	.button {
		display:inline-block;
		margin-top:1.1rem;
	}

	& &__extra {
		font-size:0.666em;

		a {
			color:#fff;
			text-decoration: none;
			margin-left:0.25rem;
			padding-left:0.25rem;
			border-left:1px solid rgba(255, 255, 255, 0.5);

			&:first-child {
				margin-left:0;
				padding-left:0;
				border-left:0;
			}
		}
	}

	@media screen and (min-width: 50em) {
		padding-top:2.5rem;
		padding-bottom:2.5rem;

		.home & .wrapper {
			& > p:first-child {
				font-size:1.2em;
			}

			p {
				max-width: 23.75rem;
			}

			.button {
				margin-top:1.5rem;
			}
		}
	}
}

.card-preview {
	margin-top:1rem;
	padding-bottom:1rem;
	overflow-x:hidden;

	h2 {
		font-size:1.45em;
	}

	&__list {
		display:flex;
		flex-direction: row;
		flex-wrap:nowrap;
		justify-content: flex-start;
		width:100%;
		width:calc(100% + 3.2222rem);
		position: relative;
		left:-1.6666rem;
		margin-top:0.25rem;
		margin-bottom:0.5rem;
		padding-left:1.6666rem;
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
		overflow-x: scroll;

		li {
			display: block;
			flex:0 0 11.25rem;
			margin-left:0.5rem;
			list-style: none;
			background:#fff;
			box-shadow: rgba(0,0,0,0.25) 0 1px 3px 0;

			&:first-child {
				margin-left:0;
			}

			&:last-child {
				display: flex;
				justify-content: center;
				align-items: center;
				box-shadow: none;
			}

			.card-preview__list__item__image {
				display: block;
				text-decoration: none;
				min-height:7.5rem;
				background-color:$yellow;
				background-image:url("./bg-yellow.svg");
			}

			.card-preview__list__item__details {
				padding:0.6rem 0.9rem;

				h3 {
					font-size:0.75em;

					a {
						text-decoration: none;
						color:inherit;
					}
				}

				p {
					margin:0;
					color:#444;
					font-size:0.6em;
					font-weight:700;
				}

				time {
					font-size:0.8em;
					font-weight:700;
					margin:0.6rem 0 0;
				}
			}
		}
	}

	@media screen and (min-width: 45em) {
		margin-top:2.5rem;
		padding-bottom:1.25rem;
		overflow:visible;

		&__list {
			flex-wrap:wrap;
			left:auto;
			width:100%;
			padding:0;
			overflow:visible;
			margin-top:0.75rem;

			li {
				position: relative;
				flex:0 0 32%;
				margin-left:2%;
				transition: top 300ms, box-shadow 300ms;

				&:hover, &:focus {
					top:1px;
					box-shadow: rgba(0,0,0,0.25) 0 0px 3px 0;
				}

				&:nth-child(3n+1) {
					margin-left:0;
				}

				&:last-child {
					position: absolute;
					right:0;
					top:-2.8125rem;

					a {
						padding-top:0.125rem;
						padding-bottom:0.125rem;
					}
				}
			}
		}
	}
}

.block-preview {
	margin-top: 1rem;
	padding-bottom: 1rem;

	&__list {
		position: relative;

		article {
			margin-top:1rem;
			padding:0.75rem 0.5rem;
			background:#fff;
			box-shadow: rgba(0,0,0,0.25) 0 1px 5px 0;

			&:first-child {
				margin-top:0.5rem;
			}

			h3 {
				font-size:0.8em;

				a {
					text-decoration: none;
					color:inherit;
				}
			}

			p, & > a {
				margin-top:0.4rem;
				font-size:0.7em;
			}
		}

		& > div {
			margin-top:1rem;
		}
	}

	@media screen and (min-width: 45em) {
		margin-top: 2.5rem;
		padding-bottom: 1.25rem;

		&__list {
			article {
				padding:0;
				box-shadow: none;
			}

			& > div {
				position: absolute;
				right:0;
				top:-2.3125rem;
				margin:0;
			}
		}
	}
}