{{ define "title" }}Events{{ end }}
{{ define "body-class" }}events{{ end }}

{{ define "main" }}
    <section class="wrapper card-preview">
        <h1>Events</h1>

        <ul class="card-preview__list">
            {{ $where := (where (.Data.Pages.ByDate) "Section" "eq" "events") }}
            {{ range $where }}
                {{ if ge .Date now }}
                    <li>
                        {{ $link := cond (ne .Params.eventLinkOveride "") .Params.eventLinkOveride "#" }}
                        <a href="{{ $link }}" class="card-preview__list__item__image">
                            {{ $image := index (.Resources.Match "featuredImage.*") 0 }}
                            {{ $image := $image.Fill "250x150" }}
                            {{ with $image.Permalink }}
                                <img src="{{ . }}"/>
                            {{ end }}
                        </a>
                        <div class="card-preview__list__item__details">
                            <h2><a href="{{ $link }}">{{ .Title }}</a></h2>
                            <p>{{ .Params.eventLocation }}</p>
                            <time datetime="{{ .Date }}">{{ dateFormat "January 2" .Date }}</time>
                        </div>
                    </li>
                {{ end }}
            {{ end }}
        </ul>
    </section>
{{ end }}