<section class="wrapper block-preview">
    <h2>Recent posts</h2>

    <div class="block-preview__list">
        <article>
            <h3><a href="#">Hackathon cheatsheat</a></h3>
            <p>We’ve compiled a list of great resources to get you up and running at a hackathon.</p>
            <a href="#">Read more</a>
        </article>
        
        <article>
            <h3><a href="#">Why hack at Sussex?</a></h3>
            <p>There are so many different hacks to choose from. So why hack at Sussex?</p>
            <a href="#">Read more</a>
        </article>

        <div>
            <a class="button button--blue" href="#">See more</a>
        </div>
    </div>
</section>