<section class="wrapper card-preview">
    <h2>Our events</h2>

    <ul class="card-preview__list">
        <li>
            <a href="#" class="card-preview__list__item__image">
                <img />
            </a>
            <div class="card-preview__list__item__details">
                <h3><a href="#">Coding social</a></h3>
                <p>Future Technology Lab</p>
                <time datetime="2018-09-29">29th September</time>
            </div>
        </li>
        <li>
            <a href="#" class="card-preview__list__item__image">
                <img />
            </a>
            <div class="card-preview__list__item__details">
                <h3><a href="#">Coding social</a></h3>
                <p>Future Technology Lab</p>
                <time datetime="2018-09-29">29th September</time>
            </div>
        </li>
        <li>
            <a href="#" class="card-preview__list__item__image">
                <img />
            </a>
            <div class="card-preview__list__item__details">
                <h3><a href="#">Coding social</a></h3>
                <p>Future Technology Lab</p>
                <time datetime="2018-09-29">29th September</time>
            </div>
        </li>
        <li>
            <a class="button button--blue" href="#">See more</a>
        </li>
    </ul>
</section>