<!DOCTYPE html>
<html lang="en">
    <head>
    <title>HackSussex</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <meta name="theme-color" content="#222222">

    <link rel="apple-touch-icon" sizes="57x57" href="/images/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon.ico">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#222222">
    <meta name="msapplication-TileImage" content="/images/icons/ms-icon-144x144.png">

    <link rel="stylesheet" href="/dist/style.css" />

    <link rel="author" href="humans.txt" />

    <meta property="og:title" content="HackSussex" />
    <meta property="og:description" content="HackSussex is the University of Sussex' hackathon society. We aim to provide events that are fun & accessible for everyone." />
    <meta property="og:image" content="https://hacksussex.co.uk/brand.png" />
    <meta property="og:url" content="https://hacksussex.co.uk" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@hacksussex" />
    <meta name="twitter:title" content="HackSussex" />
    <meta name="twitter:description" content="HackSussex is the University of Sussex' hackathon society. We aim to provide events that are fun & accessible for everyone." />
    <meta name="twitter:image" content="https://hacksussex.co.uk/brand.png" />

    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Event",
            "name": "HackSussex 2018",
            "startDate": "2018-11-10",
            "location": {
                "@type": "Place",
                "name": "University of Sussex",
                "address": {
                    "@type": "PostalAddress",
                    "streetAddress": "Falmar",
                    "addressLocality": "Brighton",
                    "postalCode": "BN1 9RH",
                    "addressRegion": "East Sussex",
                    "addressCountry": "GB"
                }
            },
            "description": "Presenting HackSussex, a relaxed, creative hackathon for beginners and veterans alike.",
            "endDate": "2018-11-10",
            "image": [
                "https://hacksussex.co.uk/brand.png"
            ]
        }
    </script>
    </head>
    <body>