<section class="hero">
    <div class="wrapper">
        <p>We're a hackathon that aims to be a relaxed, creative event for first-time and experienced hackers alike.</p>

        <p class="hero__details">
            <time date="2018-11-10">10th & 11th November 2018</time>
            <span>Chichester 1, University of Sussex</span>
        </p>

        <a class="button button--white" href="https://hacksussex.typeform.com/to/k2MHmn">Apply now</a>

        <p class="hero__extra">
            <a id="hero__extra__more-info" href="/hackathon">More information</a><a href="https://www.youtube.com/watch?v=szez7KklvlM">2017 After-video</a>
        </p>
    </div>
</section>