@import "reset";
@import "colours";
@import "fonts";

body {
	font-family: "Quicksand";
	font-weight:700;
	background: $green;
	color:#fff;
}

h1 {
	display: none;
}

a {
	color:#fff;
}

main {
	height:100vh;
	aside {
		padding:1rem;
		background:$midnight;
		width:100%;
		overflow:auto;
		text-align:center;

		div {
			display:inline-block;
		}

		p {
			margin:0;
		}
	}

	.half {
		@media screen and (min-width:60rem) {
			top:50%;
			left:5vw;
			transform:translateY(-50%);
		}
	}

	.hero {
		section {
			padding:2.5rem 0;
			text-align:center;

			.wording {
				width:50%;
				margin:5rem auto 0;

				@media screen and (min-width:60rem) {
					margin-top:0;
				}
			}

			.details {
				font-size:1.5em;
				padding:1rem 0;
			}

			.mailing-list {
				margin-top:2rem;

				input {
					display:block;
					width:80%;
					margin:0.5rem auto 0;
					text-align:center;
				}
			}

			.social-links {
				margin-top:2rem;

				svg {
					margin:0 0.5rem;
					fill:darken($green, 15);
					width:50px;
					height:50px;
					border-radius:100%;
					background:darken($green, 5);
					transition:300ms;

					&:hover {
						background:transparent;
						fill:#fff;
					}
				}
			}

			@media screen and (min-width:60rem) {
				width:60vw;
				height:auto;
				position:absolute;
				top:50%;
				left:50%;
				transform:translateY(-50%) translateX(-50%);

				.details {
					font-size:2em;
				}
			}
		}

		@media screen and (min-width:60rem) {
			height:100%;
		}
	}
}

.sponsors {
	padding:5rem 1rem;
	margin:0 auto;

	h2 {
		text-align:center;
	}

	&--cluster {
		text-align:center;
		margin:0 auto;

		img {
			display:inline-block;
			padding:0.25rem;
			width:5rem;

			@media screen and (min-width:60rem) {
				width:auto;
			}
		}

		@media screen and (min-width:60em) {
			width:50%;
		}
	}
}

input[type="text"], input[type="email"] {
	padding:0.25rem 1rem;
	border:3px solid #ccc;
	border-radius:0.25rem;
	font-size:1.5em;

	&:focus {
		outline:0;
	}
}

input[type="submit"], .button {
	-webkit-appearance: none;
	display:block;
	text-decoration:none;
	padding:0.25rem 1rem;
	background:$red;
	color:#fff;
	border:0;
	border-bottom:3px solid darken($red, 5);
	border-radius:0.25rem;
	font-family: "Quicksand";
	font-size:1.5em;
	cursor:pointer;
	transition:300ms;

	&:active {
		background: darken($red, 5);
	}

	&:hover {
		border-bottom-color:$red;
	}

	&:focus {
		outline:0;
	}
}

.button {
	width:50%;
	display:inline-block;
}

body.red {
	background:$red;

	section {
		.social-links {
			svg {
				fill:darken($red, 15);
				background: darken($red, 5);

				&:hover {
					background:transparent;
					fill:#fff;
				}
			}
		}
	}

	input[type="submit"], .button {
		background:$green;
		border-bottom-color:darken($green, 5);

		&:active {
			background: darken($green, 5);
		}

		&:hover {
			border-bottom-color:$green;
		}
	}
}

body.blue {
	background:$blue;

	section {
		.social-links {
			svg {
				fill:darken($blue, 15);
				background: darken($blue, 5);

				&:hover {
					background:transparent;
					fill:#fff;
				}
			}
		}
	}
}