@import "reset";
@import "colours";
@import "fonts";

body {
	font-family: "Quicksand";
	background: $green;
	color:#fff;
}

h1 {
	display: none;
}

main {
	aside {
		padding:1rem;
		background:$midnight;

		p {
			margin:0;
		}

		@media screen and (min-width:60rem) {
			position:relative;
			float:right;
			width:20vw;
			height:120vh;
			//overflow:hidden;

			div {
				position:absolute;
				left:-7.5vw;
				top:-5px;
				transform:rotate(10deg);
				background:$midnight;
				height:100%;
				width:75%;

				p {
					position: absolute;
					width:100%;
					bottom: 25vh;
					left: 5vw;
					transform:rotate(-10deg);
				}
			}
		}
	}

	section {
		height:100%;
		padding:2.5rem 0;
		text-align:center;

		.wording {
			width:70%;
			margin:0 auto;
		}

		.mailing-list {
			margin-top:2rem;

			input {
				display:block;
				width:80%;
				margin:0.5rem auto 0;
				text-align:center;
			}
		}

		.social-links {
			margin-top:2rem;

			svg {
				margin:0 0.5rem;
				fill:darken($green, 15);
				width:50px;
				height:50px;
				border-radius:100%;
				background:darken($green, 5);
				transition:300ms;

				&:hover {
					background:transparent;
					fill:#fff;
				}
			}
		}

		@media screen and (min-width:60rem) {
			width:60vw;
			height:auto;
			position:absolute;
			top:50%;
			left:5vw;
			transform:translateY(-50%);
		}
	}

	@media screen and (min-width:60rem) {
		height:100vh;
		overflow:hidden;
	}
}

input[type="text"], input[type="email"] {
	padding:0.25rem 1rem;
	border:3px solid #ccc;
	border-radius:0.25rem;
	font-size:1.5em;

	&:focus {
		outline:0;
	}
}

input[type="submit"] {
	padding:0.25rem 1rem;
	background:$red;
	color:#fff;
	border:0;
	border-bottom:3px solid darken($red, 5);
	border-radius:0.25rem;
	font-family: "Quicksand";
	font-size:1.5em;
	cursor:pointer;
	transition:300ms;

	&:active {
		background: darken($red, 5);
	}

	&:hover {
		border-bottom-color:$red;
	}

	&:focus {
		outline:0;
	}
}

body.red {
	background:$red;

	section {
		.social-links {
			svg {
				fill:darken($red, 15);
				background: darken($red, 5);

				&:hover {
					background:transparent;
					fill:#fff;
				}
			}
		}
	}

	input[type="submit"] {
		background:$green;
		border-bottom-color:darken($green, 5);

		&:active {
			background: darken($green, 5);
		}

		&:hover {
			border-bottom-color:$green;
		}
	}
}

body.blue {
	background:$blue;

	section {
		.social-links {
			svg {
				fill:darken($blue, 15);
				background: darken($blue, 5);

				&:hover {
					background:transparent;
					fill:#fff;
				}
			}
		}
	}
}